$header-container-color: indigo;
$header-link-color: darkgray;
$header-link-hover-color: darkgray;

.root {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;

    header {
        width          : 100%;
        display        : flex;
        justify-content: space-around;
        padding-top    : 1em;
        padding-bottom : 1em;
        font-size      : 1.2rem;
        background     : $header-container-color;

        a {
            color          : $header-link-color;
            text-decoration: none;
        }

        a:hover {
            font-weight: bold;
            color      : $header-link-hover-color;
        }
    }
    
    footer {
        padding: 1em;
    }
}